
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isSelf(uid) {
      return isSignedIn() && request.auth.uid == uid;
    }

    function isAdmin() {
      return isSignedIn() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "admin";
    }
    
    match /books/{docId} {
      allow create: if isSignedIn()
        && request.resource.data.isbn is number
        && request.resource.data.name is string;

      allow read: if isSignedIn();

      allow update, delete: if isAdmin();
    }

    match /users/{uid} {
      allow read: if isSelf(uid) || isAdmin();

      allow create: if isSelf(uid) && request.resource.data.role == "user";

      allow update: if isSelf(uid) && request.resource.data.role == resource.data.role;

      allow update, delete: if isAdmin(); 
    }
  }
}